<!-- Card Blog -->
<div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
  <!-- Title -->
  <div class="max-w-2xl text-center mx-auto mb-10 lg:mb-14">
    <h2 class="text-2xl font-bold md:text-4xl md:leading-tight dark:text-white">Our Services</h2>
    <p class="mt-1 text-gray-600 dark:text-neutral-400">ROWASCO can offer a comprehensive range of services aimed at addressing various aspects of water and sanitation challenges.</p>
  </div>
  <!-- End Title -->

  <!-- Grid -->
  <div class="grid sm:grid-cols-2 lg:grid-cols-4 gap-6 mb-10 lg:mb-14">
    <!-- Card -->
    <a class="group flex flex-col bg-white border shadow-sm rounded-xl hover:shadow-md transition dark:bg-neutral-900 dark:border-neutral-800" href="#">
      <div class="aspect-w-16 aspect-h-9">
         <%= image_tag "img6.jpg", class: "w-full object-cover rounded-t-xl" %>
      </div>
      <div class="p-4 md:p-5">
        <p class="mt-2 text-xs uppercase text-gray-600 dark:text-neutral-400">
          Water Treatment and Purification:
        </p>
        <h3 class="mt-2 text-lg font-medium text-gray-800 group-hover:text-blue-600 dark:text-neutral-300 dark:group-hover:text-white">
          Implementation of filtration, disinfection, and desalination technologies to ensure the provision of safe and clean drinking water.
        </h3>
      </div>
    </a>
    <!-- End Card -->

    <!-- Card -->
    <a class="group flex flex-col bg-white border shadow-sm rounded-xl hover:shadow-md transition dark:bg-neutral-900 dark:border-neutral-800" href="#">
      <div class="aspect-w-16 aspect-h-9">
        <%= image_tag "img1.jpg", class: "w-full object-cover rounded-t-xl" %>
      </div>
      <div class="p-4 md:p-5">
        <p class="mt-2 text-xs uppercase text-gray-600 dark:text-neutral-400">
          Sanitation Infrastructure Development:
        </p>
        <h3 class="mt-2 text-lg font-medium text-gray-800 group-hover:text-blue-600 dark:text-neutral-300 dark:group-hover:text-white">
          Implementation of sustainable sanitation solutions, such as composting toilets or biogas digesters.
Integration of sanitation infrastructure with water supply systems to ensure comprehensive access to water and sanitation services.
        </h3>
      </div>
    </a>
    <!-- End Card -->

    <!-- Card -->
    <a class="group flex flex-col bg-white border shadow-sm rounded-xl hover:shadow-md transition dark:bg-neutral-900 dark:border-neutral-800" href="#">
      <div class="aspect-w-16 aspect-h-9">
        <%= image_tag "img5.png", class: "w-full object-cover rounded-t-xl" %>
        <%= image_tag "img9.jpeg", class: "w-full object-cover rounded-t-xl" %>
      </div>
      <div class="p-4 md:p-5">
        <p class="mt-2 text-xs uppercase text-gray-600 dark:text-neutral-400">
          Wastewater Management:
        </p>
        <h3 class="mt-2 text-lg font-medium text-gray-800 group-hover:text-blue-600 dark:text-neutral-300 dark:group-hover:text-white">
          Collection, treatment, and disposal of wastewater and sewage
        </h3>
      </div>
    </a>
    <!-- End Card -->

    <!-- Card -->
    <a class="group flex flex-col bg-white border shadow-sm rounded-xl hover:shadow-md transition dark:bg-neutral-900 dark:border-neutral-800" href="#">
      <div class="aspect-w-16 aspect-h-9">
        <%= image_tag "img3.jpg", class: "w-full object-cover rounded-t-xl" %><%= image_tag "img2.jpg", class: "w-full object-cover rounded-t-xl" %>
      </div>
      <div class="p-4 md:p-5">
        <p class="mt-2 text-xs uppercase text-gray-600 dark:text-neutral-400">
          Community-Based Programs
        </p>
        <h3 class="mt-2 text-lg font-medium text-gray-800 group-hover:text-blue-600 dark:text-neutral-300 dark:group-hover:text-white">
          Development and implementation of hygiene education and behavior change campaigns.
        </h3>
      </div>
    </a>
    <!-- End Card -->
  </div>
  <!-- End Grid -->

  <!-- Card -->
  <div class="text-center">
    <div class="inline-block bg-white border shadow-sm rounded-full dark:bg-neutral-900 dark:border-neutral-800">
      <div class="py-3 px-4 flex items-center gap-x-2">
        <p class="text-gray-600 dark:text-neutral-400">
          Want to read more?
        </p>
        <a class="inline-flex items-center gap-x-1.5 text-blue-600 decoration-2 hover:underline font-medium dark:text-blue-500" href="../docs/index.html">
          Sign up for Our online Services
          <svg class="flex-shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m9 18 6-6-6-6"/></svg>
        </a>
      </div>
    </div>
  </div>
  <!-- End Card -->
</div>
<!-- End Card Blog -->
