<!-- ========== HEADER ========== -->
<header class="sticky top-0 inset-x-0 flex flex-wrap sm:justify-start sm:flex-nowrap z-[48] w-full bg-slate-300 border-b text-sm py-2.5 sm:py-4 lg:ps-64">
  <nav class="flex basis-full items-center w-full mx-auto px-4 sm:px-6" aria-label="Global">
    <div class="me-5 lg:me-0 lg:hidden">
      <!-- Logo -->
      <button class="flex-none rounded-xl text-xl inline-block font-semibold focus:outline-none focus:opacity-80" onclick="location.href='/'">
        <%= image_tag "logo.png", class: "w-[12rem] h-auto mx-auto" %>
      </button>
      <!-- End Logo -->
    </div>

    <div class="w-full flex items-center justify-end ms-auto sm:justify-between sm:gap-x-3 sm:order-3">
      <div class="sm:hidden">
        <button type="button" class="w-[2.375rem] h-[2.375rem] inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-full border border-transparent text-gray-800 hover:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none dark:text-white dark:hover:bg-neutral-700">
          <svg class="flex-shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="11" cy="11" r="8"/><path d="m21 21-4.3-4.3"/></svg>
        </button>
      </div>

      <div class="hidden sm:block">
        <label for="icon" class="sr-only">Search</label>
        <div class="relative min-w-72 md:min-w-80">
          <div class="absolute inset-y-0 start-0 flex items-center pointer-events-none z-20 ps-4">
            <svg class="flex-shrink-0 size-4 text-gray-400 dark:text-neutral-400" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="11" cy="11" r="8"/><path d="m21 21-4.3-4.3"/></svg>
          </div>
          <input type="text" id="icon" name="icon" class="py-2 px-4 ps-11 block w-full border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-800 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600" placeholder="Search">
        </div>
      </div>

      <div class="flex flex-row items-center justify-end gap-2">
        <button type="button" class="w-[2.375rem] h-[2.375rem] inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-full border border-transparent text-gray-800 hover:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none dark:text-white dark:hover:bg-neutral-700">
          <svg class="flex-shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M6 8a6 6 0 0 1 12 0c0 7 3 9 3 9H3s3-2 3-9"/><path d="M10.3 21a1.94 1.94 0 0 0 3.4 0"/></svg>
        </button>

        <div class="relative inline-flex" data-controller="dropdown">
          <button type="button" class="w-[2.375rem] h-[2.375rem] inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-full border border-transparent text-gray-800 hover:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none dark:text-white dark:hover:bg-neutral-700" data-action="click->dropdown#toggle">
            <% if (current_user.image).nil?  %>
              <%= image_tag "img_avatar.png", class: "inline-block h-[2.375rem] w-[2.375rem] rounded-full ring-2 outline-none ring-offset-2 ring-offset-gray-700 ring-[#c2fbff]/[.5] hover:ring-transparent opacity-85 hover:opacity-100" %>
            <% else %>
              <%= image_tag current_user.image, class: "inline-block h-[2.375rem] w-[2.375rem] rounded-full ring-2 outline-none ring-offset-2 ring-offset-gray-700 ring-[#c2fbff]/[.5] hover:ring-transparent opacity-85 hover:opacity-100" %>
            <% end %>
          </button>

          <div class="hidden min-w-60 bg-white shadow-md rounded-lg p-2 absolute z-50 ml-[-12rem] mt-[2.5rem]" data-dropdown-target="panel">
            <div class="py-3 px-5 -m-2 bg-gray-100 rounded-t-lg dark:bg-neutral-800">
              <p class="text-sm text-gray-500 dark:text-neutral-400">Signed in as</p>
              <p class="text-sm font-medium text-gray-800 dark:text-neutral-300">
                <%= current_user.first_name %>
                <%= current_user.last_name %> 
              </p>
            </div>
            <button class="py-2 px-5 bg-gray-200 w-full text-sm text-gray-500">
              View Profile
            </button>
            <div class="mt-1 py-2 first:pt-0 last:pb-0">
              <button class="flex items-center gap-x-3.5 py-2 px-3 w-full rounded-md text-sm text-gray-100 bg-gradient-to-r from-slate-700 to-neutral-600 hover:opacity-75" onclick="location.href='/logout'">
                <i class="fa-solid fa-arrow-right-from-bracket"></i>
                Sign Out
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
<!-- ========== END HEADER ========== -->
